{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ]
        }
      }
    ],
    "react",
    "stage-1"
  ],
  "plugins": [
    "transform-runtime",
    "react-hot-loader/babel",
    "syntax-dynamic-import"
  ]
}